<app-navbar></app-navbar>


  <div class="container pb-5">
    <div class="header mt-3 py-2 mx-5 text-center">
        <h1>Lista de alumnos</h1>
    </div>   
        <div class="group bg-dark row py-5 px-5 mx-5 mt-3 mb-5">
        <app-student-card [user] = "user" *ngFor="let user of users;" class="col-12 col-md-6 col-xl-3"></app-student-card>

        <!-- En caso de que no existan estudiantes registrados -->
        <div class="" *ngIf="!users">
            <div class="d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <img src="/assets/img/sad-face.png" alt="">
                    <h1 class=" fw-bold text-white">¡Vaya!</h1>
                    <p class="fs-3 text-white">No existen alumnos</p>
                </div>
            </div>
        </div>      
    </div>  
</div>
<app-footer></app-footer>


