<div class="card">
    <div class="card-header">
        Empleados
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Fran</td>
                    <td>pacocalmon@gmail.com</td>
                    <td>
                       <a routerLink="/editar-empleado/1"> Editar </a> | Borrar</td>
                </tr>
            </tbody>
        </table>
        
    </div>
  
</div>
