<app-navbar></app-navbar>

<div class="container pb-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-7 ">
            <div class="header mt-3 py-2 mx-5 text-center">
                <h1>Calificar alumno</h1>
            </div>   
            <div class="group bg-dark py-5 px-5 mx-5 mt-3 mb-5 text-white"> 
                   
                <form [formGroup]="gradeForm" (ngSubmit)="submitForm()">
                    <div class="row"> 

                        <div class="col-6"> 
                            <!--------------------- Asignatura ---------------------> 
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="name">Asignatura</label>
                                <select class="form-select mb-1" aria-label="" formControlName="subject_id">
                                    <option value="" disabled selected hidden>Seleccione una asignatura</option>
                                    <option [value]="subject.id" *ngFor="let subject of subjectList;" >{{subject.name}}</option> 
                                </select>
                                <small class="bg-danger px-2 py-1 rounded" *ngIf="gradeForm.get('subject_id')!.errors && formSubmitted">
                                    La asignatura es requerida
                                </small> 
                            </div>
                        </div>
                        <div class="col-6">
                            <!--------------------- Calificación ---------------------> 
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="name">Calificación</label>
                                <input type="text" class="form-control form-control-md mb-1" formControlName="grade" />
                                <small class="bg-danger mt-1 px-2 py-1 rounded" *ngIf="gradeForm.get('grade')!.errors && formSubmitted">
                                    <ng-container [ngSwitch]="gradeForm.get('grade')!.value">
                                        <ng-container *ngSwitchCase="''">La calificación es requerida</ng-container>   
                                        <ng-container *ngSwitchDefault>La calificación es inválida</ng-container>   
                                    </ng-container>
                                </small> 
                            </div>
                        </div>
    
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">
                            Calificar alumno
                            <span *ngIf="loading" class="spinner-border spinner-border-sm "></span>  
                        </button> 
                    </div>
                </form>
          </div>  
        </div>  
    </div>
</div>

<app-footer></app-footer>