<app-navbar></app-navbar>

<div class="container pb-5">
    <div class="header mt-3 py-2 mx-5 text-center" *ngIf="role == 'student'">
        <h1>Datos del alumno</h1>
    </div>   
    <div class="header mt-3 py-2 mx-5 text-center" *ngIf="role == 'admin'">
        <h1>Datos del admin</h1>
    </div> 
    <div class="group bg-dark row  py-5 px-5 mx-5 mt-3 mb-5"> 
        <div class="col-12">        
            <div class="row">
                <div class="imgDiv col py-3 d-flex justify-content-center">
                    <img class ="img" src="{{userData.avatar}}" alt="">
                </div>
                <div class="data col px-4 py-4 ">
                    <small class="text-primary ">Nombre completo: <small class="text-info">{{userData.name}} {{userData.surname1}} {{userData.surname2}}</small></small><br>
                    <small class="text-primary">Correo: <small class="text-info">{{userData.email}}</small></small><br>
                    <small class="text-primary ">DNI: <small class="text-info">{{userData.dni}}</small></small><br>
                    <small class="text-primary ">Edad: <small class="text-info">{{userData.age}}</small></small><br>
                    <small class="text-primary ">Sexo: <small class="text-info">{{userData.gender}}</small></small><br>
                    <small class="text-primary ">Dirección: <small class="text-info">{{userData.street}} {{userData.streetNum}} {{userData.floor}}</small></small><br>
                    <small class="text-primary ">Localidad: <small class="text-info">{{userData.location}}</small></small><br>
                    <small class="text-primary ">Provincia: <small class="text-info">{{userData.province}}</small></small><br>
                    <small class="text-primary ">Teléfono: <small class="text-info">{{userData.phoneNum}}</small></small>
                </div>
            </div>
        </div>
    </div>  
</div>

<app-footer></app-footer>