<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Classroom</a>
        
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
  
        </button>
        <!-- Navbar para el administrador -->
        <div class="collapse navbar-collapse" *ngIf="getRoleUser() == 'admin'" id="navbarNav">
            <ul class="navbar-nav">
              <!-- Página para mostrar los datos del administrador -->
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/adminProfile">Datos del administrador</a>
              </li>

              <!-- Página para la lista de alumnos -->
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/studentList">Lista de alumnos</a>
              </li>

              <!-- Página para la lista de asignaturas -->
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin/subjectList">Lista de asignaturas</a>
              </li>

              <!-- Cerrar la sesión actual -->
              <li class="nav-item">
                <button class="btn btn-dark" (click)="logout()">
                    <span class=""><fa-icon [icon]="faPowerOff"></fa-icon></span>  
                </button> 
                
                      
              </li>
            </ul>
        </div>

        <!-- Navbar para el alumno -->
        <div class="collapse navbar-collapse" *ngIf="getRoleUser() == 'student'" id="navbarNav">
          <ul class="navbar-nav">
            <!-- Página para mostrar los datos del alumno -->
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/student/studentProfile">Datos del alumno</a>
            </li>
 
            <!-- Página para actualizar los datos del alumno -->
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/student/updateStudent">Modificar datos</a>
            </li>

            <!-- Página para visualizar las calificaciones del alumno -->
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/student/studentGrades">Consultar calificaciones</a>
            </li>

            <!-- Cerrar la sesión actual -->
            <li class="nav-item">
              <button class="btn btn-dark" (click)="logout()">
                  <span class=""><fa-icon [icon]="faPowerOff"></fa-icon></span>  
              </button> 
              
                    
            </li>
          </ul>
      </div>
    </div>
  </nav>
